@charset "UTF-8";

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.main {
  float: right;
  width: 530px;
  padding-right: 10px;
  padding-left: 10px
}

.aside {
  width: 200px;
  padding-right: 10px;
  padding-left: 10px
}

.aside1 {
  float: left;
}

.two-col {
  float: left;
  width: 750px;
}

.aside2 {
  float: right;
}
